.tabela{
    margin-top: 2vw;
    background-color: WHITE;
    height: 75vh;
    border-radius: 6px;
}

.input{
    width: 40%;
    height: 100%;
}
 
.opcoes{
    align-items: center;
    text-align: center;
    color: #00000033;
    padding: 2vw;
    font-size: 3vh;
    font-weight: bolder;
    text-align: left;
}

.titulo{
    align-items: center;
    text-align: center;
    color: #00000033;
    padding: 2vw;
    font-size: 3vh;
    font-weight: bolder;
}

.dado{
    background-color: white;
    align-items: center;
    color: #00000033;
    padding-left: 5vw;
    font-size: 3vh;
    font-weight: bolder;
    text-align: left;
}

.botao{
    font-weight: bolder;
    margin-top: 16vw;
    font-size: 2.5vh;
    transition: 1s;
    margin-right: 2.5vh;
}

h2{
    margin-bottom: 50px;
}

p{
    padding: 0px;
    margin: 0px;
}

input{
    border-radius: 5px;
}

button{
    margin-top: 2vh;
    width: 15vw;
    font-size: 20px;
}

.fundo{
    border-radius: 4px;
    margin-top: 20vh;
    margin-left: 40vw;
    text-align: center;
    width: 20vw;
    height: 40vh;
}

.item{
    text-decoration: none;
    font-size: bolder;
    color: black;
}

.navbar{
    width: 100vw;
    height: 10vh;
    align-items: center;
    padding: 0;
    margin-bottom: 30px;
 }

 .item-nav{
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    font-size: 20px;
    color: black;
 }

 h2{
   text-align: center;
 }

.dropdown-menu{
    --bs-border-width: 0px;
}
    
.findInput{
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}